{% load static %}

<header class="header-sticky header-absolute">
    <!-- Nav START -->
    <nav class="navbar navbar-expand-xl">
        <div class="container">
            <!-- Logo START -->
            <a class="navbar-brand me-0" href="{% url 'home' %}">
                <img class="light-mode-item navbar-brand-item" src="{% static 'assets/images/homepage/liw-logo.png' %}"
                     alt="logo">
                <img class="dark-mode-item navbar-brand-item" src="{% static 'assets/images/homepage/liw-logo.png' %}"
                     alt="logo">
            </a>
            <!-- Logo END -->

            <!-- Main navbar START -->
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav navbar-nav-scroll dropdown-hover mx-auto">

                    <!-- Nav item -->
                    {#                    <li class="nav-item dropdown">#}
                    {#                        <a class="nav-link dropdown-toggle active" href="#" data-bs-auto-close="outside"#}
                    {#                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Demos</a>#}
                    {#                        <div class="dropdown-menu dropdown-menu-size-lg p-3">#}
                    {#                            <div class="row pt-2">#}
                    {#                                <!-- Image and button -->#}
                    {#                                <div class="col-sm-6">#}
                    {#                                    <ul class="list-unstyled">#}
                    {#                                        <li><a class="dropdown-item" href="index.html">Classic Default</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-creative-agency.html">Creative#}
                    {#                                            Agency</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-digital-agency.html">Digital#}
                    {#                                            Agency<span class="badge text-bg-success ms-2">New</span></a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-design-agency.html">Design Agency<span#}
                    {#                                                class="badge text-bg-success ms-2">New</span></a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-seo-agency.html">SEO Agency<span#}
                    {#                                                class="badge text-bg-success ms-2">New</span></a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-landing-product.html">Product#}
                    {#                                            Landing</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-mobile-app-showcase.html">Mobile App#}
                    {#                                            Showcase</a></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {##}
                    {#                                <!-- Index nav links -->#}
                    {#                                <div class="col-sm-6">#}
                    {#                                    <ul class="list-unstyled">#}
                    {#                                        <li><a class="dropdown-item" href="index-saas.html">SaaS v.1</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-saas-v2.html">SaaS v.2</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-saas-v3.html">SaaS v.3</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-saas-v4.html">SaaS v.4</a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-saas-v5.html">SaaS v.5</a></li>#}
                    {#                                        <li><a class="dropdown-item active" href="index-finance-consulting.html">Finance#}
                    {#                                            consulting<span class="badge text-bg-success ms-2">New</span></a></li>#}
                    {#                                        <li><a class="dropdown-item" href="index-shop.html">Index Shop</a></li>#}
                    {#                                    </ul>#}
                    {#                                </div>#}
                    {##}
                    {#                                <!-- CTA -->#}
                    {#                                <div class="col-12">#}
                    {#                                    <hr class="mt-2"> <!-- Divider -->#}
                    {#                                    <div class="d-sm-flex justify-content-between align-items-center px-2">#}
                    {#                                        <div class="me-3 mb-2 mb-sm-0">#}
                    {#                                            <h6 class="mb-2 mb-sm-0">Ready to get started?</h6>#}
                    {#                                            <small class="mb-0">Take your documents to the next level with#}
                    {#                                                Mizzle</small>#}
                    {#                                        </div>#}
                    {#                                        <a href="#" class="btn btn-sm btn-primary">Get in touch</a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}

                    {#                    <li class="nav-item"><a class="nav-link" href="{% url 'symposium' %}">Symposium</a></li>#}


                    <!-- Nav item -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                           data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">About us</a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" href="{% url 'who_we_are' %}">Our Story</a></li>
                            <!-- Dropdown divider -->
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li><a class="dropdown-item" href="{% url 'home' %}">Fellows</a></li>


                        </ul>
                    </li>

                    <!-- Nav item -->
                    {#                    <li class="nav-item dropdown dropdown-fullwidth">#}
                    {#                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true"#}
                    {#                           aria-expanded="false">Resources</a>#}
                    {#                        <div class="dropdown-menu py-0">#}
                    {#                            <div class="row p-2 p-sm-4">#}
                    {#                                <!-- Dropdown column item -->#}
                    {#                                <div class="col-md-6 col-xl-4 col-xxl-3">#}
                    {#                                    <div class="d-md-flex gap-4 h-100">#}
                    {#                                        <!-- Links -->#}
                    {#                                        <ul class="list-unstyled w-100">#}
                    {#                                            <li class="dropdown-header h6 mb-2">Useful links</li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-file-text fa-fw me-2"></i>Guides</a></li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-chat-left fa-fw me-2"></i>Supports</a></li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-calendar3-week fa-fw me-2"></i>Community &amp;#}
                    {#                                                events</a></li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-blockquote-right fa-fw me-2"></i>Blogs</a></li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i class="bi bi-lock fa-fw me-2"></i>Security</a>#}
                    {#                                            </li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i class="bi bi-star fa-fw me-2"></i>Tutorials</a>#}
                    {#                                            </li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-question-circle fa-fw me-2"></i>Help center</a></li>#}
                    {#                                            <li><a class="dropdown-item" href="#"><i#}
                    {#                                                    class="bi bi-envelope fa-fw me-2"></i>Developer newsletter</a></li>#}
                    {#                                        </ul>#}
                    {#                                        <!-- Divider line -->#}
                    {#                                        <div class="vr ms-2 ms-auto d-none d-md-block"></div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {##}
                    {#                                <!-- Dropdown column item -->#}
                    {#                                <div class="col-md-6 col-xl-4 col-xxl-5 h-100">#}
                    {#                                    <span class="dropdown-header h6 mb-2">Key features</span>#}
                    {##}
                    {#                                    <!-- Dropdown item -->#}
                    {#                                    <div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">#}
                    {#                                        <div class="d-flex me-3">#}
                    {#                                            <!-- Icon -->#}
                    {#                                            <div class="icon-md border bg-body rounded flex-shrink-0"><i#}
                    {#                                                    class="bi-file-earmark-text heading-color fs-6"></i></div>#}
                    {#                                            <!-- Content -->#}
                    {#                                            <div class="mx-2">#}
                    {#                                                <p class="stretched-link heading-color fw-bold mb-0">Documentation</p>#}
                    {#                                                <p class="mb-0 text-body small">Using documentation you can easily#}
                    {#                                                    develop projects</p>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <!-- Button -->#}
                    {#                                        <a class="icon-link icon-link-hover text-primary-hover stretched-link"#}
                    {#                                           href="docs/index.html" target="_blank"><i class="bi bi-chevron-right"></i>#}
                    {#                                        </a>#}
                    {#                                    </div>#}
                    {##}
                    {#                                    <!-- Dropdown item -->#}
                    {#                                    <div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">#}
                    {#                                        <div class="d-flex me-3">#}
                    {#                                            <!-- Icon -->#}
                    {#                                            <div class="icon-md border bg-body rounded flex-shrink-0"><i#}
                    {#                                                    class="bi bi-stickies heading-color fs-6"></i></div>#}
                    {#                                            <!-- Content -->#}
                    {#                                            <div class="mx-2">#}
                    {#                                                <p class="stretched-link heading-color fw-bold mb-0">Snippets</p>#}
                    {#                                                <p class="mb-0 text-body small">Development guides for building projects#}
                    {#                                                    with Mizzle</p>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <!-- Button -->#}
                    {#                                        <a class="icon-link icon-link-hover text-primary-hover stretched-link" href="#"><i#}
                    {#                                                class="bi bi-chevron-right"></i> </a>#}
                    {#                                    </div>#}
                    {##}
                    {#                                    <!-- Dropdown item -->#}
                    {#                                    <div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">#}
                    {#                                        <div class="d-flex me-3">#}
                    {#                                            <!-- Icon -->#}
                    {#                                            <div class="icon-md border bg-body rounded flex-shrink-0"><i#}
                    {#                                                    class="bi bi-bullseye heading-color fs-6"></i></div>#}
                    {#                                            <!-- Content -->#}
                    {#                                            <div class="mx-2">#}
                    {#                                                <p class="stretched-link heading-color fw-bold mb-0">Changelog</p>#}
                    {#                                                <p class="mb-0 text-body small">Recent feature release and announcement.#}
                    {#                                                    See how changes are made.</p>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <!-- Button -->#}
                    {#                                        <a class="icon-link icon-link-hover text-primary-hover stretched-link"#}
                    {#                                           href="docs/changelog.html" target="_blank"><i#}
                    {#                                                class="bi bi-box-arrow-up-right"></i> </a>#}
                    {#                                    </div>#}
                    {##}
                    {#                                    <!-- Dropdown item -->#}
                    {#                                    <div class="dropdown-item bg-light-hover d-flex align-items-center justify-content-between position-relative text-wrap py-3">#}
                    {#                                        <div class="d-flex me-3">#}
                    {#                                            <!-- Icon -->#}
                    {#                                            <div class="icon-md border bg-body rounded flex-shrink-0"><i#}
                    {#                                                    class="bi bi-mask heading-color fs-6"></i></div>#}
                    {#                                            <!-- Content -->#}
                    {#                                            <div class="mx-2">#}
                    {#                                                <a class="stretched-link heading-color fw-bold mb-0" href="#">Playwright#}
                    {#                                                    tips</a>#}
                    {#                                                <p class="mb-0 text-body small">Tips and In-depth guide for headless#}
                    {#                                                    browser automation</p>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <!-- Button -->#}
                    {#                                        <a class="icon-link icon-link-hover text-primary-hover stretched-link" href="#"><i#}
                    {#                                                class="bi bi-chevron-right"></i> </a>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {##}
                    {#                                <!-- Feature resources card -->#}
                    {#                                <div class="col-lg-4">#}
                    {#                                    <span class="dropdown-header h6 mb-2">Feature resources</span>#}
                    {##}
                    {#                                    <!-- Feature card -->#}
                    {#                                    <div class="card bg-transparent px-3">#}
                    {#                                        <!-- Image -->#}
                    {#                                        <img src="{% static 'assets/images/blog/02.jpg' %}" class="rounded mb-3"#}
                    {#                                             alt="feature-img">#}
                    {#                                        <div class="card-body p-0">#}
                    {#                                            <h6><a href="#">Featured title here</a></h6>#}
                    {#                                            <p class="mb-2">Departure defective arranging rapturous did believe him all#}
                    {#                                                had supported.</p>#}
                    {#                                            <a class="icon-link icon-link-hover stretched-link z-index-2" href="#">Check#}
                    {#                                                it out<i class="bi bi-arrow-right"></i> </a>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </li>#}


                    <!-- Nav item -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Event Highlights</a>
                        <div class="dropdown-menu dropdown-menu-center dropdown-menu-size-xl p-3">
                            <div class="row g-xl-3">
                                <!-- Work -->
                                <div class="col-xl-12 d-none d-xl-block">
                                    <div class="d-flex gap-4">
                                        <!-- Card -->
                                        <div class="card bg-transparent">
                                            <!-- Image -->
                                            <img src="https://i.pinimg.com/originals/dd/a4/86/dda48634c47bc14ccbcecf77f5819921.jpg"
                                                 class="card-img " alt="">
                                            <!-- Card body -->
                                            <div class="card-body px-0 text-start pb-0">
                                                <h6><a href="#">Event Highlights</a></h6>
                                                <p class="mb-2 small">We help people better manage their careers.</p>
                                                <a class="icon-link icon-link-hover stretched-link mb-0"
                                                   href="/">Learn more<i
                                                        class="bi bi-arrow-right"></i> </a>
                                            </div>
                                        </div>

                                        <!-- Card -->
                                        <div class="card bg-transparent">
                                            <!-- Image -->
                                            <img src="https://i.pinimg.com/originals/dd/a4/86/dda48634c47bc14ccbcecf77f5819921.jpg"
                                                 class="card-img" alt="">
                                            <!-- Card body -->
                                            <div class="card-body px-0 text-start pb-0">
                                                <h6><a href="#">Event Highlights</a></h6>
                                                <p class="mb-2 small">We help people better manage their careers.</p>
                                                <a class="icon-link icon-link-hover stretched-link mb-0"
                                                   href="/">Learn more<i
                                                        class="bi bi-arrow-right"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Nav item -->
                    <li class="nav-item"><a style="a:hover{color: red}" class="nav-link" href="{% url 'contact' %}">Contact
                        us</a></li>
                </ul>
            </div>
            <!-- Main navbar END -->

            <!-- Buttons -->
            <ul class="nav align-items-center dropdown-hover ms-sm-2">

                <!-- Sign up button -->
                {#                <li class="nav-item me-2">#}
                {#                    <a href="{% url 'symposium' %}" class="btn btn-sm btn-light mb-0"><i class="bi bi-person-circle me-1"></i>Symposium</a>#}
                {#                </li>#}

                <!-- Buy now button -->
                <li class="nav-item d-none d-sm-block">
                    <button class="btn btn-sm btn-danger rounded-3 mb-0"><a class="text-white"
                                                                            href="{% url 'symposium' %}">Symposium</a>
                    </button>
                </li>

                <!-- Responsive navbar toggler -->
                <li class="nav-item">
                    <button class="navbar-toggler ms-sm-3 p-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
						<span class="navbar-toggler-animation">
							<span></span>
							<span></span>
							<span></span>
						</span>
                    </button>
                </li>
            </ul>

        </div>
    </nav>
    <!-- Nav END -->
</header>
<!-- Header END -->
